@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #1E90FF;
    --secondary-color: #0074E4;
    --navbar-color: #696969;
    --font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    font-family: var(--font-family);
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    border: none;
    font-family: var(--font-family);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color);
}

div p {
    font-size: 10px;
}

div a {
    color: black;
}

div a:hover {
    color: purple;
}