.home-page {
    font-family: var(--font-family);
}

h1 {
    color: var(--primary-color);
    margin: auto;
    white-space: nowrap;
    text-align: center;
}

.special-text {
    color: var(--secondary-color);
}

strong {
    font-weight: bold;
}

.landing-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.btn {
    padding: 15px 30px;
    font-size: 1.1rem;
    font-family: var(--font-family);
    text-decoration: none;
    border: none;
    border-radius: 30px;
    background-color: #2980b9;
    color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #409ad5;
}

/* screens smaller than 768px (tablets and mobile devices) */
@media (max-width: 768px) {

}

/* media query for screens smaller than 480px (mobile devices) */
@media (max-width: 480px) {

}